---javascript
{
	layout: "base",
	tags: "talk",
	meta: {
		title: "An Introduction to Nuxt Global Modules",
		description: "Like Chrome extensions, but for your Nuxt.js environments."
	},
	permalink: "talk/an-introduction-to-nuxt-global-modules.html"
}
---

<nostyle style="{ display: none }">
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

{# Utils #}
.container {
	font-size: 1.25rem;
  line-height: 1.75rem;
	max-width: 55ch;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.cornered {
	background:
		linear-gradient(to right, #6a5959 2px, transparent 2px) 0 0,
		linear-gradient(to right, #6a5959 2px, transparent 2px) 0 100%,
		linear-gradient(to left, #6a5959 2px, transparent 2px) 100% 0,
		linear-gradient(to left, #6a5959 2px, transparent 2px) 100% 100%,
		linear-gradient(to bottom, #6a5959 2px, transparent 2px) 0 0,
		linear-gradient(to bottom, #6a5959 2px, transparent 2px) 100% 0,
		linear-gradient(to top, #6a5959 2px, transparent 2px) 0 100%,
		linear-gradient(to top, #6a5959 2px, transparent 2px) 100% 100%;

	background-repeat: no-repeat;
	background-size: 16px 16px;
}
.cornered:hover, .cornered:focus {
	background:
		linear-gradient(to right, #e84311 2px, transparent 2px) 0 0,
		linear-gradient(to right, #e84311 2px, transparent 2px) 0 100%,
		linear-gradient(to left, #e84311 2px, transparent 2px) 100% 0,
		linear-gradient(to left, #e84311 2px, transparent 2px) 100% 100%,
		linear-gradient(to bottom, #e84311 2px, transparent 2px) 0 0,
		linear-gradient(to bottom, #e84311 2px, transparent 2px) 100% 0,
		linear-gradient(to top, #e84311 2px, transparent 2px) 0 100%,
		linear-gradient(to top, #e84311 2px, transparent 2px) 100% 100%;

	background-repeat: no-repeat;
	background-size: 16px 16px;
}

html:not(.referred) .referred-only {
	display: none;
}

{# Links #}
a:not(.block) {
	border-bottom: 1px dashed;
}
a:hover:not(.block), a:focus:not(.block) {
	color: #e84311;
	border-bottom: 1px solid;
}

{# Marquee #}
.marquee {
	position: relative;
	overflow: hidden;
}
.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(0, 0, 0);
	animation: marquee 40s linear infinite;
	will-change: transform;
}
.marquee span {
	flex: 1 0 auto;
	padding: 0 1rem;
}
@keyframes marquee {
	0% {
		transform: translate3d(-10vw, 0, 0);
	}
	100% {
		transform: translate3d(calc(-10vw - 100%), 0, 0);
	}
}
</nostyle>

<aside class="referred-only bg-flamingo text-slate fixed top-0 left-0 w-full py-1">
	<figure class="marquee text-base">
		<div class="marquee__inner" aria-hidden="true">
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
			<span>Thanks for joining my talk!</span>
		</div>
	</figure>
</aside>

<div class="my-20 container space-y-12">
	<header>
		<h1 class="-ml-2 mb-2 text-[48px] md:text-[64px] leading-none font-bold text-flamingo">
			An Introduction<br />to Nuxt Global Modules
		</h1>
		<p class="italic text-cream-700">
			Like Chrome extensions, but for your Nuxt.js environments.
		</p>
		<dl class="mt-12 grid grid-cols-3 lowercase" aria-label="Talk Information">
			<div>
				<dt class="text-xs -ml-2 text-flamingo">Time</dt>
				<dd class="text-base"><time datetime="2021-09-16">Sept. 16</time></dd>
			</div>
			<div>
				<dt class="text-xs -ml-2 text-flamingo">Duration</dt>
				<dd class="text-base">20min.</dd>
			</div>
			<div>
				<dt class="text-xs -ml-2 text-flamingo">Conference</dt>
				<dd class="text-base"><a href="https://nuxtnation.com" target="_blank" rel="noopener noreferrer">NuxtNation 2021</a></dd>
			</div>
		</dl>
	</header>

	<ul class="space-y-6 lowercase">
		<li>
			<a href="https://an-introduction-to-nuxt-global-modules.diapositiv.lihbr.com/1" target="_blank" rel="noopener noreferrer" class="block p-6 cornered text-slate-100 focus:text-flamingo hover:text-flamingo">
				<em class="text-cream-900 not-italic">-> Slides</em>
			</a>
		</li>
		<li>
			<a href="https://github.com/lihbr/nuxt-demo-global-modules" target="_blank" rel="noopener noreferrer" class="block p-6 cornered text-slate-100 focus:text-flamingo hover:text-flamingo">
				<em class="text-cream-900 not-italic">-> Live Coding Sources</em>
			</a>
		</li>
		<li>
			<a href="https://docs.google.com/document/d/1jQ-YuW7khDxNLh9fTjycqIMKqbZM_zWLq0WueGGrrzY/edit?usp=sharing" target="_blank" rel="noopener noreferrer" class="block p-6 cornered text-slate-100 focus:text-flamingo hover:text-flamingo">
				<em class="text-cream-900 not-italic">-> Transcript</em>
			</a>
		</li>
	</ul>

	<section>
		<h2 class="-ml-2 mb-2 text-flamingo">Any feedback? Drop me a line~</h2>
		<form id="feedback" action="https://twitter.com/intent/tweet" method="GET" class="border-2 border-slate-100 p-2 focus-within:border-flamingo text-base" target="_blank" rel="noopener noreferrer">
			<input type="hidden" name="hashtags" value="nuxtnation">
			<input type="hidden" name="related" value="li_hbr:Conference Speaker,nuxtnation:Conference Organizer,nuxt:Vue.js Framework">
			<input type="hidden" name="via" value="li_hbr">
			<textarea name="text" rows="3" class="bg-transparent w-full resize-none placeholder-slate-100 focus:outline-none" placeholder="Thanks for the talk!" minlength="7" maxlength="260" required aria-label="Your feedback"></textarea>
			<button type="submit" class="block pl-6 pr-2 py-2 ml-auto -mr-2 -my-2 focus:text-flamingo focus:outline-none hover:text-flamingo">send -></button>
		</form>
	</section>

	<footer>
		<h2 class="-ml-2 mb-2 text-flamingo">More from me~</h2>
		<p class="text-base">
			You can browse my articles on my <a href="https://lihbr.com?source=diapositiv" target="_blank" rel="noopener noreferrer">blog</a>.<br />
			Most of my work is open-source on <a href="https://github.com/lihbr" target="_blank" rel="noopener noreferrer">GitHub</a>.<br />
			Me and my (tech) nonsense are on <a href="https://twitter.com/li_hbr" target="_blank" rel="noopener noreferrer">Twitter</a>.<br />
			I'm also available on <a href="https://www.polywork.com/lihbr" target="_blank" rel="noopener noreferrer">Polywork</a>.
		</p>
	</footer>
</div>

<footer class="container flex-col md:flex-row flex gap-2 justify-between py-4 text-slate-100">
	<small class="text-base lowercase">
		<a href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank" rel="noopener noreferrer">CC BY-NC-SA 4.0</a> &copy; 2021 Lucie HABERER
	</small>
	<small class="text-base">
		<a href="https://lihbr.com?source=diapositiv" target="_blank" rel="noopener noreferrer">lihbr.com</a>
	</small>
</footer>

<script src="https://cdn.jsdelivr.net/npm/js-confetti@0.8.0/dist/js-confetti.browser.js"></script>

<script>
(() => {
	const referred = document.location.search.includes("source=conference");
	if (referred) {
		new JSConfetti().addConfetti({
			emojis: ["🌲", "💐", "📐", "🌐"],
			emojiSize: 80,
		});
		document.documentElement.classList.add("referred");
	}

	const $form = document.querySelector("form#feedback");
	if ($form) {
		const lcFirst = (s) => s.charAt(0).toLowerCase() + s.slice(1);

		$form.addEventListener("submit", (e) => {
			e.preventDefault();

			const values = {};
			const data = new FormData($form);
			for (const [k, v] of data.entries()) {
				values[k] = encodeURIComponent(v);
			}

			const url = `https://twitter.com/intent/tweet?hashtags=${values.hashtags}&related=${values.related}&text=${encodeURIComponent("Hey @li_hbr, ")}${lcFirst(values.text)}`

			window.open(url, "_blank").focus();
		});
	}
})();
</script>
