---javascript
{
	layout: "default",
	tags: "blog",
	pagination: {
		data: "prismic.post__blog",
		size: 1,
		alias: "doc",
		addAllPagesToCollections: true,
	},
	permalink: {
		build: "blog/{{ doc.uid }}.html",
		preview: "/preview/blog/:uid",
	},
}
---
<main class="max-w-[65ch] text-lg pb-16 px-16 space-y-8">
	<header class="space-y-8">
		<h1 class="text-4xl">
			{%- asText doc.data.title -%}
		</h1>
		<p class="col-start-1">
			{%- asText doc.data.lead -%}
		</p>
		{% image doc.data.thumbnail, { class: "" } %}
	</header>
	<article class="prose space-y-8">
		{%- asyncAsHTML doc.data.body -%}
	</article>
</main>

{%- layoutBlock "script" -%}
	{%- script "/assets/js/blog_slug.ts" -%}
{%- endlayoutBlock -%}
