---javascript
{
	layout: "base",
	tags: "post",
	pagination: {
		data: "prismic.post__blog",
		size: 1,
		alias: "document",
		addAllPagesToCollections: true,
	},
	permalink: "blog/{{ document.uid }}/",
}
---

<h1>{% prismic_asText document.data.title %}</h1>
