---javascript
{
	layout: "default",
	tags: "post",
	pagination: {
		data: "prismic.post__blog",
		size: 1,
		alias: "doc",
		addAllPagesToCollections: true,
	},
	permalink: {
		build: "blog/{{ doc.uid }}.html",
		preview: "/preview/blog/:uid",
	},
}
---

<main class="px-6">
	<header>
		<h1 class="text-4xl">
			{% asText doc.data.title %}
		</h1>
		<p class="col-start-1">
			{% asText doc.data.lead %}
		</p>
	</header>
	<article class="prose">
		{% asHTML doc.data.body %}
	</article>
</main>

{%- layoutBlock page, "script" -%}
	{%- script "/assets/js/blog_slug.ts" -%}
{%- endlayoutBlock -%}
