.section {
	/* `42.5rem` refers to `680px` itself refering to `65ch` for Graphit font, this avoids some font loading CLS */
	@apply max-w-[42.5rem] px-6 mt-16;
}

html {
	&.left .section {
		@apply mr-auto;
	}

	&.center .section {
		@apply mx-auto;
	}

	&.right .section {
		@apply ml-auto;
	}
}

.form {
	& label {
		@apply lowercase;
	}

	& input,
	& textarea {
		@apply bg-transparent w-full placeholder-slate-100 dark:placeholder-cream-100 p-2 border-2 border-slate-100 dark:border-cream-100 focus:outline-none focus:border-theme focus:dark:border-theme;
	}
}

.dl {
	@apply space-y-6 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-6;

	& dt {
		@apply lowercase text-theme;
	}
}

table.sort {
	@apply w-full border-collapse table-fixed;

	& th {
		@apply pb-6 font-normal;

		& button {
			@apply w-full font-normal text-left;
		}
	}

	& [data-sortable] button::before {
		content: "~";
		width: 1rem;
		display: inline-block;
	}
	& [data-sortable][aria-sort] button::before {
		content: "↑";
	}
	& [data-sortable][aria-sort="descending"] button::before {
		content: "↓";
	}

	& td {
		@apply py-3 pl-4;

		&:last-child {
			@apply pr-4;
		}
	}
}

.bg-grid {
	background-image: linear-gradient(45deg,#1f1919bf 25%,transparent 0),linear-gradient(-45deg,#1f1919bf 25%,transparent 0),linear-gradient(45deg,transparent 75%,#1f1919bf 0),linear-gradient(-45deg,transparent 75%,#1f1919bf 0);
	background-position: 0 0,0 10px,10px -10px,-10px 0;
	background-size: 20px 20px;
}

.marquee {
	@apply fixed top-0 left-0 w-full bg-theme overflow-hidden text-slate py-1;

	&::before {
		@apply block whitespace-pre;
		content: attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text) "        " attr(data-text);
		width: fit-content;
		transform: translate3d(-2%, 0, 0);
		will-change: transform;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .marquee::before {
    animation: marquee 6s linear infinite;
  }
}

@keyframes marquee {
	0% {
		transform: translate3d(-2%, 0, 0);
	}
	100% {
		transform: translate3d(calc(-2% - 5% - 1px), 0, 0);
	}
}
