.neutral {
	--color-theme: theme("colors.slate.DEFAULT");
	--color-theme-o-20: theme("colors.slate.o-20");
	--color-theme-100: theme("colors.slate.100");
}
html.dark {
	&.neutral, & .neutral {
		--color-theme: theme("colors.cream.DEFAULT");
		--color-theme-o-20: theme("colors.cream.o-20");
		--color-theme-100: theme("colors.cream.100");
	}
}

.navy {
	--color-theme: theme("colors.navy.DEFAULT");
	--color-theme-o-20: theme("colors.navy.o-20");
	--color-theme-100: theme("colors.navy.100");
}

.beet {
	--color-theme: theme("colors.beet.DEFAULT");
	--color-theme-o-20: theme("colors.beet.o-20");
	--color-theme-100: theme("colors.beet.100");
}

html:not([class*="navy"]):not([class*="beet"]):not([class*="ochre"]):not([class*="butter"]):not([class*="mantis"]),
.flamingo {
	--color-theme: theme("colors.flamingo.DEFAULT");
	--color-theme-o-20: theme("colors.flamingo.o-20");
	--color-theme-100: theme("colors.flamingo.100");
}

.ochre {
	--color-theme: theme("colors.ochre.DEFAULT");
	--color-theme-o-20: theme("colors.ochre.o-20");
	--color-theme-100: theme("colors.ochre.100");
}

.butter {
	--color-theme: theme("colors.butter.DEFAULT");
	--color-theme-o-20: theme("colors.butter.o-20");
	--color-theme-100: theme("colors.butter.100");
}

.mantis {
	--color-theme: theme("colors.mantis.DEFAULT");
	--color-theme-o-20: theme("colors.mantis.o-20");
	--color-theme-100: theme("colors.mantis.100");
}

@media (prefers-reduced-motion: no-preference) {
	::view-transition-group(root) {
		animation-timing-function: var(linear(
			0 0%,
			0.0085 31.26%,
			0.0167 40.94%,
			0.0289 48.86%,
			0.0471 55.92%,
			0.0717 61.99%,
			0.1038 67.32%,
			0.1443 72.07%,
			0.1989 76.7%,
			0.2659 80.89%,
			0.3465 84.71%,
			0.4419 88.22%,
			0.554 91.48%,
			0.6835 94.51%,
			0.8316 97.34%,
			1 100%
		));
	}

	::view-transition-new(root) {
		mask: url("https://images.prismic.io/lihbr/ZnmnPpbWFbowe0Dg_chikachika.gif?auto=format,compress") center / 0 no-repeat;
		animation: scale 1.8s;
	}

	::view-transition-old(root) {
		animation: scale 1.8s;
	}

	@keyframes scale {
		0% {
			mask-size: 0;
		}
		10% {
			mask-size: 50vmax;
		}
		90% {
			mask-size: 50vmax;
		}
		100% {
			mask-size: 2000vmax;
		}
	}
}

