---javascript
{
	layout: "minimal",
	meta: {
		title: "Poll"
	},
	permalink: {
		build: "talks/poll.html",
		preview: "/preview/talks/poll",
	},
}
---

{%- from "../_includes/system.njk" import display, partials with context -%}

<header class="section space-y-6">
	{{ display("heading", { as: "h1", class: "heading-1", text: "Poll" }) }}
	<p>
		Thanks for voting, your answer has been recorded.
	</p>
	<p>
		Other questions might be up soon, stay tuned!
	</p>
</header>
