---javascript
{
	permalink: "/public/talks/rss.xml",
	eleventyExcludeFromCollections: true,
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
		<title><![CDATA[lihbr.com talks]]></title>
		<link>{{ meta.site.url }}/talks/rss.xml</link>
		<description><![CDATA[New talks published on Lucie's website: lihbr.com]]></description>
		<lastBuildDate>{%- asDate netlify.buildTime, "YYYY-MM-DDTHH:mm:ss+00:00" -%}</lastBuildDate>
		<docs>https://validator.w3.org/feed/docs/rss2.html</docs>
		<language>{{ meta.site.lang }}</language>
		<image>
			<title><![CDATA[lihbr.com talks]]></title>
			<url>{{ meta.image.openGraph }}</url>
			<link>{{ meta.site.url }}/talks/rss.xml</link>
		</image>
		{%- set talks = talks | dictsort | reverse -%}
		{%- for key, talk in talks.slice(0, 20) %}
		<item>
			<title><![CDATA[{{ talk.title }}]]></title>
			<link>{{ meta.site.url }}/talks/{{ talk.conference.slug }}/{{ talk.slug }}</link>
			<guid>{{ meta.site.url }}/talks/{{ talk.conference.slug }}/{{ talk.slug }}</guid>
			<pubDate>{%- asDate talk.date, "YYYY-MM-DDTHH:mm:ss+00:00" -%}</pubDate>
			<content:encoded><![CDATA[A new talk <em>"{{ talk.title }}"</em> is available, you can <a href="{{ meta.site.url }}/talks/{{ talk.conference.slug }}/{{ talk.slug }}">check it out here</a>.<br />{{ talk.lead }}]]></content:encoded>
		</item>
		{%- endfor %}
	</channel>
</rss>
