<{{params.as}}{% if params.class %} class="{{params.class}}"{% endif %} id="{{ params.text | slugify }}">
	<a href="#{{ params.text | slugify }}" title="Permalink to {{ params.text }}" class="hocus:after:content-['_#'] hocus:underline">{{ params.text }}</a>
</{{params.as}}>
