---
layout: base.njk
---

{%- from "../_includes/system.njk" import partials with context -%}

{{ partials("back") }}

{{ content | safe }}

{{ partials("back", { withPreferences: true }) }}

{{ partials("footer") }}

{%- toolbar -%}
