<main class="section space-y-6">
	{{ display("heading", { as: "h1", class: "heading-1", text: "Posts" }) }}
	<p>
		I write on a quite irregular basis.<br />
		I go through tech stuff, tutorials, and experience feedback.
	</p>
	<ul class="list-disc list-inside">
		{%- set posts = prismic.post__blog | sort(true, true, "data.published_date") -%}
		{%- for post in posts -%}
		<li>
			<a href="{{ post.url | url }}" class="lowercase underline {% resolveTheme post.data.color %}">
				{% asText post.data.title %}
			</a>
			<time datetime="{{ post.data.published_date }}">
				{%- asDate post.data.published_date, "MM/DD/YYYY" -%}
			</time>
		</li>
		{%- endfor -%}
	</ul>
</main>
