=themify()
  scrollbar-width: thin

  body::-webkit-scrollbar
    width: 6px

=themifyColor($color, $reversed)
  -webkit-tap-highlight-color: theme("colors." + $color + ".o-20")
  scrollbar-color: theme("colors." + $color + ".DEFAULT") transparent

  ::selection, ::-webkit-scrollbar-thumb
    color: theme("colors." + $reversed + ".DEFAULT")
    background: theme("colors." + $color + ".DEFAULT")

  ::-webkit-scrollbar-corner
    background: transparent
