/* Not much yet, and it's probably better to write a Tailwind plugin anyway... */
html {
	@apply antialiased box-border font-sans text-slate bg-cream-900 overflow-x-hidden;
	font-size: 16px; /* Don't change this! */
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin-right: calc(100% - 100vw); /* Prevents scrollbar jump */

	scrollbar-width: thin;
	& ::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	& ::-webkit-scrollbar-corner {
		background: transparent;
	}

	scrollbar-color: var(--color-theme) transparent;
	-webkit-tap-highlight-color: var(--color-theme-o-20);
	& ::selection,
	& ::-webkit-scrollbar-thumb {
		color: theme("colors.cream.900");
		background: var(--color-theme);
	}

	&.dark {
		@apply text-cream bg-slate-900;

		& ::selection,
		& ::-webkit-scrollbar-thumb {
			color: theme("colors.slate.900");
		}

		& img {
			filter: grayscale(0.2);
		}
	}
}

body {
	@apply w-full overflow-x-auto;
}

a:focus-visible,
button:focus-visible {
	/* outline: 2px solid;
	outline-offset: 2px; */
	@apply outline-none relative bg-theme text-cream dark:text-slate;

	/* &::after {
		@apply absolute;
		content: "";
		top: -0.25em;
		left: -0.25em;
		right: -0.25em;
		bottom: -0.25em;
		background: linear-gradient(
					to right,
					currentColor 0.125em,
					transparent 0.125em
				)
				0 0,
			linear-gradient(to right, currentColor 0.125em, transparent 0.125em) 0
				100%,
			linear-gradient(to left, currentColor 0.125em, transparent 0.125em) 100% 0,
			linear-gradient(to left, currentColor 0.125em, transparent 0.125em) 100%
				100%,
			linear-gradient(to bottom, currentColor 0.125em, transparent 0.125em) 0 0,
			linear-gradient(to bottom, currentColor 0.125em, transparent 0.125em) 100%
				0,
			linear-gradient(to top, currentColor 0.125em, transparent 0.125em) 0 100%,
			linear-gradient(to top, currentColor 0.125em, transparent 0.125em) 100%
				100%;
		background-repeat: no-repeat;
		background-size: 0.5em 0.5em;
	} */
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	@apply outline-none;
}
