div.prism {
	@apply relative overflow-hidden font-mono font-normal leading-normal text-cream;

	& .prismWrapper {
		@apply overflow-auto h-inherit max-h-inherit min-h-inherit bg-slate;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
	}

	& pre {
		@apply text-left whitespace-pre break-normal min-w-full p-3 max-h-inherit float-left;
		word-spacing: normal;
		tab-size: 2;
		hyphens: none;
	}

	& code {
		@apply pb-3;
	}

	& .highlight {
		@apply pr-10 -mx-3 bg-slate-700 block border-l-theme border-l-8 pl-2;

		&:not(:last-child) {
			margin-bottom: -1.5em; /* line-height: 1.5; */
		}
	}

	& .highlightWrapper {
		/* reapplying default color */
		@apply text-cream block;
	}

	/* Theme */
	& .token.comment,
	& .token.prolog,
	& .token.doctype,
	& .token.cdata {
		@apply text-slate-50;
	}

	& .token.boolean,
	& .token.number {
		@apply text-beet-100;
	}

	& .token.property,
	& .token.tag,
	& .token.symbol,
	& .token.deleted,
	& .token.operator,
	& .token.entity,
	& .token.url,
	& .language-css .token.string,
	& .style .token.string,
	& .token.variable,
	& .token.atrule,
	& .token.class-name,
	& .token.keyword {
		@apply text-flamingo;
	}

	& .token.constant {
		@apply text-flamingo-100;
	}

	& .token.parameter {
		@apply text-ochre;
	}

	& .token.string,
	& .token.attr-value,
	& .token.regex,
	& .token.important {
		@apply text-butter;
	}

	& .token.punctuation {
		@apply text-butter-100;
	}

	& .token.selector,
	& .token.attr-name,
	& .token.char,
	& .token.builtin,
	& .token.inserted,
	& .token.function {
		@apply text-mantis-100;
	}

	& .namespace {
		@apply opacity-70;
	}

	& .token.important,
	& .token.bold {
		@apply font-bold;
	}

	/* Implied by the above class */
	/* & .token.italic {
		@apply italic;
	} */
}
