---javascript
{
	layout: "page",
	tags: "document",
	pagination: {
		data: "prismic.post__document",
		size: 1,
		alias: "doc",
		addAllPagesToCollections: true,
	},
	permalink: {
		build: "{{ doc.uid }}.html",
		preview: "/preview/:uid",
	},
}
---

{%- from "./_includes/system.njk" import display, partials, layouts, sections with context -%}

<header class="section space-y-6 prose">
	{%- set docTitle -%}{%- asText doc.data.title -%}{%- endset -%}
	{{ display("heading", { as: "h1", text: docTitle }) }}
  {%- asHTML doc.data.lead -%}
</header>

<article class="section space-y-6 prose">
	{%- asyncAsHTML doc.data.body -%}
	<p>
		Last upadated: <time datetime="{{ doc.last_publication_date }}">{%- asDate doc.last_publication_date, "MM/DD/YYYY" -%}</time>
	</p>
</article>

{%- layoutBlock "script" -%}
	{%- script "/assets/js/index.ts" -%}
{%- endlayoutBlock -%}
