---javascript
{
	layout: "base",
	pagination: {
		data: "prismic.page",
		size: 1,
		alias: "document",
		before: (data) => data.map((doc) => doc.uid === "home" ? { ...doc, uid: "" } : doc),
	},
	permalink: "{{ document.uid }}/"
}
---

<h1>{% prismic_asText document.data.title %}</h1>

