---javascript
{
	layout: "default",
	pagination: {
		data: "prismic.page",
		size: 1,
		alias: "doc",
		addAllPagesToCollections: true,
		before: (data) => data.map((doc) => {
			switch (doc.uid) {
				case "home":
					return { ...doc, uid: "index" };

				case "blog":
					return { ...doc, uid: "post" };

				default:
					return doc;
			}
		}),
	},
	permalink: {
		build: "{{ doc.uid }}.html",
		preview: "/preview/:uid",
	},
}
---

{# This file is just sort of a mixin to generate every `page` documents. #}
{# Relevant templates are available within their matching `_slug.njk` files. #}

{%- from "./_includes/system.njk" import page, layout, section with context -%}

{{ page(doc.uid) }}
