---javascript
{
	layout: "default",
	pagination: {
		data: "prismic.page",
		size: 1,
		alias: "document",
		addAllPagesToCollections: true,
		before: (data) => data.map((doc) => doc.uid === "home" ? { ...doc, uid: "index" } : doc),
	},
	permalink: "{{ document.uid }}.html",
}
---

<h1>{% asText document.data.title %}</h1>

