---javascript
{
	layout: "page",
	meta: {
		title: "Card"
	},
	permalink: {
		build: "card.html",
		preview: "/preview/card",
	},
}
---

{%- from "./_includes/system.njk" import display, partials, layouts, sections with context -%}

<header class="section space-y-6">
	WIP
</header>
