---javascript
{
	layout: "default",
	permalink: {
		build: "index.html",
		preview: "/preview/index",
	},
}
---

{%- from "./_includes/system.njk" import display, partials with context -%}

<main class="section space-y-6">
	{{ display("heading", { as: "h1", class: "heading-0", text: "Hi! Lucie here" }) }}
	<p>
		I'm an internet citizen, currently working as a
		DevExp Engineer <a href="https://prismic.io" target="_blank" rel="noopener noreferrer" class="underline">@prismicio</a>
		<br />
		I'm also a contributor and ambassador <a href="https://nuxtjs.org" target="_blank" rel="noopener noreferrer" class="underline">@nuxt_js</a>,
		enjoying open-source overall.
		<br />
		Learn more about me and this place on <a href="/about" class="underline">the about page</a>,
		or appreciate the following~
	</p>
</main>

{{ partials("header") }}

<section class="section space-y-6">
	{{ display("heading", { as: "h2", class: "heading-2", text: "Talks" }) }}
	<p>
		I'm speaking, and had the opportunity to, at a few conferences.
	</p>
	<p>
		Check out my past talks for resources, slides, and more -^
	</p>
	<ul role="list">
		{%- for key, talk in talks | dictsort | reverse -%}
		<li class="flex gap-2">
			<time datetime="{{ talk.date }}" class="ff-numeric">
				{%- asDate talk.date, "MM/DD/YYYY" -%}
			</time>
			<a href="/talks/{{ talk.conference.slug }}/{{ talk.slug }}" class="lowercase underline">
				{{ talk.title }}
			</a>
		</li>
		{%- endfor -%}
	</ul>
</section>

<section class="section space-y-6">
	{{ display("heading", { as: "h2", class: "heading-2", text: "Posts" }) }}
	<p>
		I write on a quite irregular basis.<br />
		I go through tech stuff, tutorials, and experience feedback.
	</p>
	<p>
		Have a read at the most recent posts -^
	</p>
	<ul role="list">
		{%- set posts = prismic.post__blog | sort(true, true, "data.published_date") -%}
		{%- for post in posts.slice(0, 3) -%}
		<li class="flex gap-2">
			<time datetime="{{ post.data.published_date }}" class="ff-numeric">
				{%- asDate post.data.published_date, "MM/DD/YYYY" -%}
			</time>
			<a href="{{ post.url | url }}" class="lowercase underline {% resolveTheme post.data.color %}">
				{%- asText post.data.title -%}
			</a>
		</li>
		{%- endfor -%}
	</ul>
	<details>
		<summary class="action inline cursor-pointer">
			<span class="underline">...or browse archives</span> <span class="open:hidden">-></span><span class="hidden open:inline">-^</span>
		</summary>
		<ul class="mt-6" role="list">
			{%- set posts = prismic.post__blog | sort(true, true, "data.published_date") -%}
			{%- for post in posts.slice(3) -%}
			<li class="flex gap-2">
				<time datetime="{{ post.data.published_date }}" class="ff-numeric">
					{%- asDate post.data.published_date, "MM/DD/YYYY" -%}
				</time>
				<a href="{{ post.url | url }}" class="lowercase underline {% resolveTheme post.data.color %}">
					{%- asText post.data.title -%}
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</details>
</section>

<section class="section space-y-6">
	{{ display("heading", { as: "h2", class: "heading-2", text: "Art" }) }}
	<p>
		I share now and then artists' work.<br />
		Their work is really inspiring to me.
	</p>
	<p>
		If you'd like an artist to be shared here, or if you're one,
		<a href="/contact" class="underline">let me know</a>~
	</p>
	<p>
		Your can also <a href="/art"><span class="underline">browse all entries there</span> -></a>
	</p>
</section>

<section class="section space-y-6">
	{{ display("heading", { as: "h2", class: "heading-2", text: "Projects" }) }}
	<p>
		I create an maintain different code projects during my free time.
	</p>
	<p>
		Here's a list of them, dates refer to first release -^
	</p>
	<ul role="list">
		{%- for key, project in projects | dictsort | reverse -%}
		<li class="flex gap-2">
			<time datetime="{{ project.start }}" class="ff-numeric">
					{%- asDate project.start, "MM/DD/YYYY" -%}
				</time>
			<a href="{{ project.url }}" target="_blank" rel="noopener noreferrer" class="lowercase underline">
				{{ project.title }}
			</a>
		</li>
		{%- endfor -%}
	</ul>
</section>

{%- layoutBlock "script" -%}
	{%- script "/assets/js/index.ts" -%}
{%- endlayoutBlock -%}
