---javascript
{
	layout: "page",
	meta: {
		title: "Records"
	},
	permalink: {
		build: "records.html",
		preview: "/preview/records",
	},
}
---

{%- from "./_includes/system.njk" import display, partials with context -%}

<header class="section space-y-6">
	{{ display("heading", { as: "h1", class: "heading-1", text: "Records" }) }}
	<p>
		I collect vinyl records of artists I like.<br />
		Here's my humble collection.
	</p>
</header>

{# Desktop #}
<div class="hidden lg:block mt-16 px-6">
	<table class="sort lowercase" aria-labelledby="sortInstructions">
		<caption id="sortInstructions" class="sr-only">Use column header buttons to sort</caption>
		<thead>
			<tr>
				<th class="w-2/5" data-sortable>
					<button class="lowercase" type="button" aria-labelledby="sortInstructions">Title</button>
				</th>
				<th class="w-1/5" data-sortable>
					<button class="lowercase" type="button" aria-labelledby="sortInstructions">Artist</button>
				</th>
				<th class="w-1/5" data-sortable>
					<button class="lowercase" type="button" aria-labelledby="sortInstructions">Genres</button>
				</th>
				<th class="w-[10%]" data-sortable="123">
					<button class="lowercase" type="button" aria-labelledby="sortInstructions">Year</button>
				</th>
				<th class="w-[10%]"></th>
			</tr>
		</thead>
		<tbody>
		{%- for release in discogs -%}
			<tr class="relative group hover:bg-slate">
				<td class="truncate">
					<img
						src="{{ release.basic_information.cover_image }}"
						alt="{{ release.basic_information.title }}'s cover"
						loading="lazy"
						class="h-64 hidden group-hover:block absolute bottom-[calc(100%+.5rem)] left-4 z-10 pointer-events-none"
					>
					{{ release.basic_information.title }}
				</td>
				<td class="truncate">
					{{ release.basic_information.artists[0].name | replace(r/\(\d+\)$/, "") }}
				</td>
				<td class="truncate">
					{{ release.basic_information.genres | sort | join(", ") }}
				</td>
				<td>
					{%- if release.basic_information.year -%}
						<time datetime="release.basic_information.year">{{ release.basic_information.year }}</time>
					{%- else -%}
						-
					{%- endif -%}
				</td>
				<td class="text-right">
					<a class="underline" href="https://www.discogs.com/release/{{ release.basic_information.id }}" target="_blank" rel="noopener noreferrer" title="Open on Discogs">Discogs</a>
				</td>
			</tr>
		{%- endfor -%}
		</tbody>
	</table>
</div>

{# Mobile #}
<ul class="lg:hidden section space-y-16" role="list">
	{%- for release in discogs -%}
	<li>
		<img
			src="{{ release.basic_information.thumb }}"
			alt="{{ release.basic_information.title }}'s cover"
			loading="lazy"
			class="h-32"
		>
		<dl class="dl mt-6">
			<div>
				<dt>Title - Artist</dt>
				<dd>{{ release.basic_information.title }} - {{ release.basic_information.artists[0].name | replace(r/\(\d+\)$/, "") }}</dd>
			</div>
			<div>
				<dt>Genre - Year</dt>
				<dd>
					{{ release.basic_information.genres | sort | join(", ") }}
					-
					{% if release.basic_information.year -%}
						<time datetime="release.basic_information.year">{{ release.basic_information.year }}</time>
					{%- else -%}
						-
					{%- endif -%}
				</dd>
			</div>
			<div>
				<br class="hidden sm:block"/>
				<a class="lowercase underline" href="https://www.discogs.com/release/{{ release.basic_information.id }}" target="_blank" rel="noopener noreferrer" title="Open on Discogs">Discogs</a>
			</div>
		</dl>
	</li>
	{%- endfor -%}
</ul>

{%- layoutBlock "script" -%}
	{%- script "/assets/js/records.ts" -%}
{%- endlayoutBlock -%}
