<nav class="section space-y-6">
	<p>
		<a href="/" class="current:text-theme">&lt;- <span class="underline">back to index</span></a>
	</p>
	{%- if params.withPreferences -%}{{ partials("preferences") }}{%- endif -%}
</nav>
