<footer class="section space-y-6 mb-16">
	{{ display("heading", { as: "h3", class: "heading-2", text: "Footer" }) }}
	<p>
		This place is a collection of things I make, produce, or enjoy.<br />
		They are meant to be shared with friends, students and digital people.
	</p>
	<p>
		Most of my work is open-source on <a href="#" class="underline">GitHub</a>.<br />
		You can read more and chat with me on <a href="#" class="underline">Twitter</a>.<br />
	</p>
	<p>
		To contact me, here’s <a href="#" class="underline">a mail</a> and a <a href="#" class="underline">contact page</a>.
	</p>
	<br />
	<p>
		<a href="#" class="underline">legal stuff</a>, <a href="#" class="underline">your privacy</a>, <a href="#" class="underline">rss feed</a>
	</p>
	<p>
		commit ref: <a href="#" class="underline">047b0f8</a><br />
		<a href="#" class="underline">cc by-nc-sa 4.0</a> © 2020-present lucie haberer
	</p>
</footer>
